<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  
    <httpErrors existingResponse="PassThrough" />
	
	<handlers>
			<clear />
			<add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
    </handlers>
	
    <rewrite>
	
      <rules>

        <rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>

        <rule name="Force non-WWW" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
          </conditions>
          <action type="Redirect" url="https://{C:2}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>

        <rule name="StaticPassThrough" stopProcessing="true">
          <match url="^.*\.(css|js|mjs|json|png|jpe?g|gif|svg|webp|avif|ico|bmp|woff2?|ttf|eot|otf|map|pdf|zip|rar|7z|mp4|webm|mp3|wav|txt|xml|csv|docx?|xlsx?|pptx?)$" />
          <action type="None" />
        </rule>

        <rule name="ReverseProxyToASPPY" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8058/{R:1}" />
        </rule>

      </rules>
	  
    </rewrite>
	
  </system.webServer>
</configuration>